---
layout: default
---


<section class="join">
    <div class="container">
        <div class="inner-container">
            <h5>GO ARMY</h5>
            <p>The Army is a key component of the U.S. Armed Forces, providing expeditionary land forces wherever and whenever they are required. Working in conjunction with the U.S. Department of Defense, the Army trains and equips Soldiers and creates leaders among them to rapidly respond when they are called upon to serve our Nation. Visit <a href="http://www.goarmy.com/">GOARMY.COM</a> to learn how to go about enlisting or joining in different capacities, Army life, benefits, pay, and assignments information.</p>
            <h5>NATIONAL GUARD</h5>
            <p>The National Guard is an elite group of warriors who dedicate a portion of their time to serving their nation. Each state has its own Guard, as required by the Constitution; in fact, it is the only branch of the military whose existence is actually required by the Constitution. Visit <a href="http://www.1800goguard.com/">1800GOGUARD.COM</a> to learn how to go about joining in different capacities, Army life, benefits, pay, and assignments information. </p>
            <h5>ARMY RESERVE</h5>
            <p>The Army Reserve is playing a critical role in the army's transformation. With over one million Soldiers available at any time, the Army Reserve provides a highly skilled, flexible force that can support the Army when and where they are needed most - it is a multi-component unit force, training with Active and National Guard units to ensure all three components work as a fully integrated team. Visit <a href="http://www.goarmy.com/reserve.html">GOARMY.COM/RESERVE</a> to learn how to go about enlisting or joining in different capacities, Army life, benefits, pay, and assignments information.</p>
            <h5>CIVILIAN SERVICE</h5>
            <p>The Army offers abundant opportunities for challenging and rewarding civilian employment in virtually all career fields and in all parts of the world. Whether you are a student, a recent graduate, a veteran, a current Federal employee, or a U.S. citizen without federal experience, the Army has a job for you. For more information about a career path that will help you develop both professionally and personally:</p>
            <div class="links-list">
                <ul class="link-column-full">
                    <li><a href="https://www.opm.gov">Office of Personnel Management</a></li>
                    <li><a href="http://cpol.army.mil">Army Civilian Personnel</a></li>
                    <li><a href="https://www.usajobs.gov">USAJobs</a></li>
                    <li><a href="https://www.opm.gov/retirement-services/">Federal Retirement Programs</a></li>
                    <li><a href="https://www.opm.gov/policy-data-oversight/pay-leave/salaries-wages/#url=2012">Civilian Pay Chart (2012)</a></li>
                    <li><a href="http://www.armycivilianservice.com">Army Civilian Service</a></li>
                    <li><a href="https://www.cpms.osd.mil/expeditionary/">Civilian Expeditionary Workforce</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>


