<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <title>Join | The United States Army</title>
    <meta property="keywords" name="keywords" content="US Army, Army, Army News, ARMY.mil, Headlines, Public Affairs, Official Army Homepage, Hot Topics, Images, Video, Audio, AMP, Social Media, Leaders, History, Organization, Service, AKO"/>
    <meta property="description" name="description" content=""/>
    <meta property="og:title" content="Join | The United States Army"/>
    <meta property="og:site_name" content="Join | The United States Army"/>
    <meta property="og:description" content="Join | The United States Army"/>
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.army.mil/join/">
    <link rel="canonical" href="https://www.army.mil/join/">
    <link rel="stylesheet" href="/e2/css/rv7/join/style.css">
</head>
<body>
    {% include globals/elements/upgrade.html %}
    {% include globals/elements/header.html %}
    {% include masthead.html %}
    <div class="main">
        {{ content }}
    </div>
    {% include globals/elements/footer.html %}
    <script src="/e2/js/rv7/join/join.min.js" type="text/javascript" charset="utf-8"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-27189539-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>

